@using Microsoft.Extensions.Localization
@using NtripShare.GNSS.Edge.Controllers
@using System.Globalization
@inject IStringLocalizer<SysConfigController> StringLocalizer
@{
	ViewData["Title"] = "首页";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@StringLocalizer["Welcome"] - @StringLocalizer["SysName"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/lib/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/layuiadmin/style/admin.css" media="all">
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15" style="margin-bottom:60px">
            <div class="layui-col-md12">
                <div class="layui-card">
                    @*<div class="layui-card-header">WIFI 热点</div>*@
                    <div class="layui-card-body" pad15>

                        <div class="layui-form" lay-filter="">
                            @*<div class="layui-form-item">
                                <label class="layui-form-label">4G</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="SIM" lay-skin="switch" lay-text="ON|OFF" checked="@Model.SIM" value="true">
                                </div>
                            </div>*@
                            <div class="layui-form-item">
                                <label class="layui-form-label">@StringLocalizer["WiFiHotspot"]</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="WIFI" lay-skin="switch" lay-text="ON|OFF" checked="@Model.WIFI" value="true">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">@StringLocalizer["Password"]</label>
                                <div class="layui-input-inline">
                                    <input name="WIFIPassword" lay-verify="required" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input" value="@Model.WIFIPassword">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">@StringLocalizer["CloseTime"]</label>
                                <div class="layui-input-inline">
                                    <select name="WIFICloseTime" lay-verify="required" value="@Model.WIFICloseTime"
                                            required>
                                        @if (Model.WIFICloseTime == 0)
                                        {
                                            <option value="0" selected>不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                        else if (Model.WIFICloseTime == 30)
                                        {
                                            <option value="0">不关闭</option>
                                            <option value="30" selected>30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                        else if (Model.WIFICloseTime == 60)
                                        {
                                            <option value="0">不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60" selected>1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                        else if (Model.WIFICloseTime == 240)
                                        {
                                            <option value="0">不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240" selected>4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                        else if (Model.WIFICloseTime == 480)
                                        {
                                            <option value="0">不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480" selected>8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                        else if (Model.WIFICloseTime == 1440)
                                        {
                                            <option value="0">不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440" selected>24小时</option>
                                        }
                                        else
                                        {
                                            <option value="0" selected>不关闭</option>
                                            <option value="30">30分钟</option>
                                            <option value="60">1小时</option>
                                            <option value="240">4小时</option>
                                            <option value="480">8小时</option>
                                            <option value="1440">24小时</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">@StringLocalizer["Save"]</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/lib/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'set', "ax"], function () {
            var $ax = layui.ax;
            var $ = layui.$
                , admin = layui.admin
                , element = layui.element
                , layer = layui.layer
                , laydate = layui.laydate
                , form = layui.form;

            form.render(null, 'component-form-group');
            /* 监听提交 */
            form.on('submit(component-form-demo1)', function (data) {
                var ajax = new $ax("/SysConfig/setWifi", function (data) {
                    layer.msg('修改成功', {
                        shade: 0.8
                        , icon: 1
                        , time: 1000
                    }, function () {
                        location.reload();
                    });
                }, function (data) {
                    layer.msg('@StringLocalizer["SaveFailed"]', {
                        shade: 0.8
                        , icon: 2
                        , time: 1000
                    }, function () {
                    });
                });
                ajax.set(data.field);
                ajax.start();

                return false;
            });

        });
    </script>
</body>
</html>


